
@font-face {
    font-family:"Anodyne";
    src:url("Anodyne.woff2") format("woff2"),url("Anodyne.woff") format("woff"),url("Anodyne.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        