input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: $text-input;
	border: 1px solid $border-input;
	outline: 0;
	box-shadow: none;

	&:focus {
		box-shadow: none;
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	
}

textarea {
	outline: 0;
	box-shadow: none;
	color: $text-input;
	border: 1px solid $border-input;

	&:focus {
		box-shadow: none;
	}
}