.contact {

	.content {
		@include outer-container(1170px);
		margin: 0 auto;
		text-align: center;
		float: none;
		border: 0;

		header {
			margin: 40px;

			hr {
				background-color: #ccc;
				width: 20%;
				margin: 40px auto;
			}
		}
	}

	#gform_1 {
		background: #f9f9f9;
		padding: 20px;
	}

	.gform_wrapper ul.gform_fields li.gfield {
		margin: 0;
	}

	.gform_wrapper .gform_footer {
		padding: 0;
		margin: 0;
		clear: both;
		width: 100%;
	}

	.gform_wrapper .top_label div.ginput_container {
		margin-top: 0;
	}

	.gform_wrapper .top_label .gfield_label,
	.gform_wrapper .field_sublabel_below .ginput_complex.ginput_container label, .gform_wrapper .field_sublabel_below div[class*=gfield_time_].ginput_container label {
		display: none;
	}

	.gform_wrapper ul.gform_fields li.gfield {
		padding-right: 0;
	}

	.featureimage {
		width: 50%;
		border-right: 25px solid $site-border-color;
	}
}