.single-post {

	.wrapper {
		position: relative;
	}

	#content {
		height: auto;
	}

	.press-peice {

		@include outer-container(1024px);
		margin: 0 auto;
		text-align: center;

		header {
			margin: 40px;

			hr {
				background-color: #ccc;
				width: 20%;
				margin: 40px auto;
			}
		}

	}

	#colophon {
		position: relative;
	}

}

.blog {

	.newsbox {

		.half {
		    width: 49%;
		    box-sizing: border-box;
		    display: inline-block;
		    vertical-align: middle;

		    header {
		    	h1, hr {
		    		display: inline-block;
		    	}
		    }
		}
	}

}