.home {
	height: 100vh;

	.page {
		///height: 100vh;
	}

	#content {
		padding-bottom: 0;
	}

	#home_page_box_image {
		width: 70%;
		border-right: 25px solid $site-border-color;

		&.wide {
			width: 100%;
			border: 0;
		}
	}

	#home_page_tall_image {
		width: 30%;
		border-left: 25px solid $site-border-color;
	}

	.coverimage {
		height: 100%;
		background-size: cover;
		background-position: top;
		float: left;
	}
}