.home {
	height: 100vh;

	#primary {
		padding: 0;
	}

	div#video {
		width: 100%;
		height: calc(100% - 74px);

		&:before {
			content: " ";
			width: 50px;
			background: white;
			height: 100%;
			position: absolute;
			z-index: 100;
			left: 0;
			top: 0;
		}

		&:after {
			content: " ";
			width: 50px;
			background: white;
			height: 100%;
			position: absolute;
			z-index: 100;
			left: right;
			top: 0;
		}
	}

	video { 
		position: fixed;
		top: 50%;
		left: 50%;
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		z-index: 1;
		border-left: 50px solid white;
		transform: translateX(-50%) translateY(-50%);
		//background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat;
		background-size: cover;
		transition: 1s opacity;
	}
	
	.stopfade { 
		opacity: .5;
	}


	.page {
		///height: 100vh;
	}

	#content {
		padding-bottom: 0;
	}

	#home_page_box_image {
		width: 70%;
		border-right: 25px solid $site-border-color;

		&.wide {
			width: 100%;
			border: 0;
		}
	}

	#home_page_box_image_mobile {
		width: 100%;
		border: 0;

		@include media($medium-screen-up) {
			display: none;
		}
	}

	#home_page_tall_image {
		width: 30%;
		border-left: 25px solid $site-border-color;
	}

	.hideonmobile {
		display: none;

		@include media($medium-screen-up) {
			display: block;
		}
	}

	.coverimage {
		height: 100%;
		background-size: cover;
		background-position: top;
		float: left;
	}
}