.retailers {

	.content {

		@include outer-container(1170px);
		margin: 0 auto;
		text-align: center;
		float: none;
		border: 0;

		header {
			margin: 40px 0;

			@include media($medium-screen-up) {
				margin: 40px;
			}

			hr {
				background-color: #ccc;
				width: 20%;
				margin: 40px auto;
			}
		}
	}

	.row {
		position: relative;

		.retailer {
			@include span-columns(12);
			float: left;
			margin-bottom: 30px;
			position: relative;

			@include media($medium-screen-up) {
				@include span-columns(6);
			}

			a {
				text-decoration: none;

				h3 {
					font-size: 30px;
					color: $dark-gray;
				}

				p {
					color: $brand-primary;
					margin-bottom: 0;
					overflow: hidden;
				}
			}
		}
	}

	#colophon {
		//position: relative;
	}
}