a.wcmenucart-contents {
	color: inherit;	
}

.pswp__caption__center {
	display: none;
}

.summary h2:first-of-type {
	display:none;
}

.prod-links, .news-links {

	p.next {
		right: 10px;
		float: right;
		padding: 10px 0 10px 10px;

		@include media($medium-screen-up) {
			right: -40px;
		}

		span {
			padding-right: 30px;
		}

		a {
			background-image: url('assets/right-chevron.svg');
			background-position: center right;
		}
	}

	p.prev {
		left: 10px;
		float: left;
		padding: 10px 10px 10px 0;

		@include media($medium-screen-up) {
			left: -40px;
		}

		span {
			padding-left: 30px;
		}

		a {
			background-image: url('assets/left-chevron.svg');
			background-position: center left;	
		}
	}

	span {
		display: inline-flex;
		position: relative;
	}

	a {
		display: block;
		width: 20px;
		height: 28px;
		background-repeat: no-repeat;
		background-size: auto 100%;
		text-indent: -9999px;
		cursor: pointer;
		position: absolute;
		width: 100%;
		top: 0;
		left: 0;
	}

	p {
		margin: 0;
		position: fixed;
		top: 50%;
		margin-top: -25px;
		display: flex;
		text-transform: uppercase;
		line-height: 2;
		background: white;

		@include media($medium-screen-up) {
			position: absolute;
		}
	}
}

.woocommerce.woocommerce-page {

	#content {

		.woocommerce-error, .woocommerce-info, .woocommerce-message {
			position: fixed;
			top: 0;
			left: 0;
			z-index: 41;
			width: 100%;
			font-size: 11px;

			@include media($medium-screen-up) {
				position: absolute;
				font-size: 14px;
			}
			
			.button {
				float: right;
				text-transform: uppercase;
				font-weight: 500;
			}
		}

		.product {

			.quantity .qty {
				width: 3.631em;
				text-align: center;
				margin: 0;
				border-color: #ccc;
				border-radius: 0;
				box-shadow: none;
				outline: 0;
				padding: 5px;
			}

			.images {
				float: left;
				width: 100%;
				height: 100%;
				margin: 0;

				.woocommerce-product-gallery__wrapper {
					margin: 0;
					height: 100%;

					.woocommerce-product-gallery__image {
						display: none;
						height: 100%;

						a, img {
							height: 100%;
							display: block;
						}

						a {
							
							&:after {
								content: "";
								opacity: 0;
								width: 100%;
								height: 100%;
								height: 100vh;
								position: absolute;
								top: 0;
								left: 0;
								background-color: rgba(255,255,255,0.6);
								background-image: url(assets/plus-icon.svg);
								background-repeat: no-repeat;
								background-size: 36px;
								background-position: center;
							}

							&:before {
								content: "Click to enlarge / view more";
								// content: "Click to enlarge / view more";
								opacity: 1;
								position: absolute;
								bottom: 30px;
								color: #706f6f;
								width: 100%;
								text-align: center;
							}

							&:hover {
								
								&:after {
									opacity: 1;
								}
							}
						}

						img {
							opacity: 0;
						}

						&:first-of-type {
							display: block;
						}
					}
				}
			}

			.price {
				color: $text-color;
				font-size: 1.25em;
				float: left;
				font-size: 25px;
    			font-weight: 600;
			}

			#alg_currency_selector {
				float: left;
				margin-left: 10px;

				select {
					border: 1px solid #ccc;
					border-radius: 0;
					appearance: none;
					-webkit-appearance: none;
					background: #ffffff;
					padding: 4px 20px 4px 10px;
					background-image: url(assets/arrow_down.svg);
					background-position: right center;
					background-repeat: no-repeat;
					background-size: 20px;
					color: black;
					text-transform: uppercase;
					font-size: 14px;
					outline: 0;
				}
			}

			.cart {
				margin-bottom: 0;
				float: left;
				width: 100%;
				margin-top: 20px;

				.button {
					vertical-align: middle;
					float: left;
					padding: 11px 10px;
					border-radius: 0;
					background: black;
					text-transform: uppercase;
					outline: 0;
				}
			}
		}
	}

	#secondary {
		width: 25%;
		float: left;
		border-left: 50px solid white;
		border-right: 25px solid white;
	}

	#primary {
		width: 75%;
		float: right;
		border-right: 50px solid white;
		border-left: 25px solid white;

		.products {
			margin-bottom: 0;

			li {
				@include span-columns(12);
				margin-bottom: 15px;

				@include media($medium-screen-up) {
					@include span-columns(3);
				}

				@include media($large-screen-up) {
					@include span-columns(4);
					margin-bottom: 30px;
				}

				&.last {
					margin-right: 0;
				}

				img {
					display: block;
					margin-bottom: 0;
				}
			}

			ul {
				margin-bottom: 0;
			}
		}

		.product {
			height: 100%;

			.featureimage {
				width: 100%;
				height: 300px;

				@include media($medium-screen-up) {
					width: 50%;
					height: 100%;
					border-right: 25px solid $site-border-color;
				}
			}

			.content {
				width: 100%;

				@include media($medium-screen-up) {
					width: 50%;
					border-left: 25px solid $site-border-color;
					height: 100%;
				}

				.split {
					height: 50%;

					&.top {
						border-bottom: 25px solid $site-border-color;
					}

					&.bottom {
						border-top: 25px solid $site-border-color;
						background-size: cover;
						background-position: top;
					}
				}
			}

			.content, .featureimage {
				background-size: contain;
				background-position: center;
				background-repeat: no-repeat;
				float: left;
			}

			.content {
				@include media($medium-screen-up) {
				}
			}

			.entry-summary {
				margin-bottom: 0;
				float: left;
				width: 100%;
				position: relative;

				@include media($medium-screen-up) {
					width: 75%;
				}

				h1 {
					font-size: 18px;
					margin: 0 0 5px;
					line-height: 1.2;
				}

				h2 {
					font-size: 16px;
					margin: 0 0 30px;
					line-height: 1.2;
					color: $text-color;
				}

				.button-wrap {
					position: absolute;
					bottom: -60px;
					width: 290px;
					height: 50px;
					text-align: unset;
				}

				.button-wrapper {
					margin: 0;
					margin-right: 10px;
					float: left;
					margin-top: 14px;

					a, #chart-button {
						background: transparent;
						color: inherit;
						padding: 0;
						font-weight: inherit;
						border-radius: 0;
						text-decoration: none;
						
						&:hover {
							background: transparent;
							color: black;
							border-radius: 0;
						}
					}
				}
			}
		}
	}

	&.tax-collection, &.archive {

		#primary {

			.products {

				li {

					a {
						
						&:before {
							content: "";
							position: absolute;
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;
							background: rgba(255, 255, 255, 0.6);
							opacity: 0;
							-webkit-transition: all 300ms ease-in-out;
							-moz-transition: all 300ms ease-in-out;
							-ms-transition: all 300ms ease-in-out;
							-o-transition: all 300ms ease-in-out;
							transition: all 300ms ease-in-out;
						}

						h2, .price {
							text-align: center;
							width: 100%;
							color: #706f6f;
							font-size: 15px;
							-webkit-hyphens: auto;
							-moz-hyphens: auto;
							-ms-hyphens: auto;
							hyphens: auto;

							mark, ins {
								background: transparent;
								text-decoration: none;
								color: inherit;
								font-size: inherit;
								font-weight: inherit;
							}
						}
					}

					&:hover {
						a {
							
							&:before {
								opacity: 1;
							}

							h2 {
								opacity: 1;
							}
						}						
					}
				}
			}
		}
	}

	#colophon {
		position: relative;
	}
}


.woocommerce-checkout, .woocommerce-cart {

	.woocommerce {

		#add_payment_method .wc-proceed-to-checkout, 
		.wc-proceed-to-checkout, 
		.wc-proceed-to-checkout {
			padding: 0;

			a {
				margin-bottom: 0;
				border-radius: 0;

				&:hover {
					background-color: black;
				}
			}
		}

		.form-row .checkbox {
			display: inline;
			font-weight: 500;
		}

		.shop_table {
			border: 1px solid #ccc;
			margin: 0 0 20px 0;
			text-align: left;
			width: 100%;
			border-collapse: separate;
			border-radius: 0;

			tr.order-total {
				background: #f9f9f9;
			}

			th, td {
				border-bottom: 0;
				font-weight: 500;
			}

			thead th, .order-total th {
				font-weight: 600;
				text-transform: uppercase;
			}
		}

		.cart .button,
		#respond input#submit.alt, .button.alt {
			background-color: black;
			color: #fff;
			font-weight: 600;
			-webkit-font-smoothing: antialiased;
			text-transform: uppercase;
		}
	}

	#add_payment_method #payment, 
	#payment {
		background: #f9f9f9;
		border-radius: 0;
	}

	.content {
		width: 100%;
		border: 0;
	}

	h3#order_review_heading {
		display: none;
	}

	div#customer_details {
		float: left;
		width: 50%;
		border-right: 25px solid white;
	}

	div#order_review {
		float: left;
		width: 50%;
		border-left: 25px solid white;
	}
}


#alg_currency_selector {
	display: inline-block;

	select {
		border: 1px solid #ccc;
		border-radius: 0;
		appearance: none;
		-webkit-appearance: none;
		background: #ffffff;
		padding: 4px 20px 4px 10px;
		background-image: url(assets/arrow_down.svg);
		background-position: right center;
		background-repeat: no-repeat;
		background-size: 20px;
		color: black;
		text-transform: uppercase;
		font-size: 14px;
		outline: 0;
	}
}

.woocommerce.single-product #primary .product .entry-summary h2 {
	display: none;
}

.woocommerce.single-product {

	.product .cart .variations {
		width: auto;	
	}

	#colophon {
		position: fixed;
	}

	#secondary {
		display: none;
	}

	#primary {
		width: 100%;
		border-left-width: 50px;
	}
}
