.woocommerce.woocommerce-page {

	#content {

		.product {

			.images {
				float: left;
				width: 100%;
				height: 100%;
				margin: 0;

				.woocommerce-product-gallery__wrapper {
					margin: 0;
					height: 100%;

					.woocommerce-product-gallery__image {
						display: none;
						height: 100%;

						a, img {
							height: 100%;
							display: block;
						}

						img {
							opacity: 0;
						}

						&:first-of-type {
							display: block;
						}
					}
				}
			}
		}
	}

	.prod-links {
		position: absolute;
		height: auto;
		top: 50%;
		z-index: 10;
		width: 100%;

		p.next {
			right: -40px;
			position: relative;
			float: right;
			line-height: 1;

			a {
				background-image: url('assets/right-chevron.svg');
			}
		}

		p.prev {
			left: -40px;
			position: relative;
			float: left;
			line-height: 1;

			a {
				background-image: url('assets/left-chevron.svg');
			}
		}

		a {
			display: block;
			width: 30px;
			height: 49px;
			background-repeat: no-repeat;
			background-position: center;
			background-size: auto 100%;
		}

		p {
			margin: 0; 
		}
	}

	#primary {

		.products {
			margin-bottom: 0;

			li {
				@include span-columns(3);

				&.last {
					margin-right: 0;
				}

				img {
					display: block;
					margin-bottom: 0;
				}
			}

			ul {
				margin-bottom: 0;
			}
		}

		.product {
			height: 100%;

			.featureimage {
				width: 50%;
				border-right: 25px solid $site-border-color;
			}

			.content {
				width: 50%;
				border-left: 25px solid $site-border-color;

				.split {
					height: 50%;

					&.top {
						border-bottom: 25px solid $site-border-color;
					}

					&.bottom {
						border-top: 25px solid $site-border-color;
						background-size: cover;
						background-position: top;
					}
				}
			}

			.content, .featureimage {
				height: 100%;
				background-size: cover;
				background-position: top;
				float: left;
			}

			.entry-summary {
				margin-bottom: 0;
				float: left;
				width: 75%;

				h1 {
					font-size: 36px;
					margin: 0 0 5px;
					line-height: 1.2;
				}

				h2 {
					font-size: 24px;
					margin: 0 0 10px;
					line-height: 1.2;
					color: $text-color;
				}
			}
		}
	}

	&.tax-collection {

		#primary {

			.products {

				li {

					a {
						
						&:before {
							content: "";
							position: absolute;
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;
							background: rgba(0, 0, 0, 0.3);
							opacity: 0;
							-webkit-transition: all 300ms ease-in-out;
							-moz-transition: all 300ms ease-in-out;
							-ms-transition: all 300ms ease-in-out;
							-o-transition: all 300ms ease-in-out;
							transition: all 300ms ease-in-out;
						}

						h2 {
							padding: 0;
							position: absolute;
							top: 50%;
							text-align: center;
							width: 100%;
							color: white;
							margin-top: -20px;
							opacity: 0;
							font-size: 46px;
							padding: 0 50px;
							line-height: 1;
							-webkit-transition: all 300ms ease-in-out;
							-moz-transition: all 300ms ease-in-out;
							-ms-transition: all 300ms ease-in-out;
							-o-transition: all 300ms ease-in-out;
							transition: all 300ms ease-in-out;
						}
					}

					&:hover {
						a {
							
							&:before {
								opacity: 1;
							}

							h2 {
								opacity: 1;
							}
						}						
					}
				}
			}
		}
	}
}