#content {
	height: 100vh;
	padding-top: 87px;
	padding-bottom: 56px;
	position: relative;
	background-color: $site-border-color;
}

#primary, #main, .hentry {
	height: 100%;

	h1, h2, h3, h4, h5, h6 {
		clear: both;
		font-size: 25px;
		font-weight: 400;
		color: #666;
		text-transform: uppercase;
	}

	h1 {
		letter-spacing: 6px;
	}
	h2 {
		letter-spacing: 3px;
	}
}

#main {
	background: white;
}

/*--------------------------------------------------------------
## Home
--------------------------------------------------------------*/
@import "pages/home";

/*--------------------------------------------------------------
## About
--------------------------------------------------------------*/
@import "pages/about";

/*--------------------------------------------------------------
## Contact
--------------------------------------------------------------*/
@import "pages/contact";

/*--------------------------------------------------------------
## Collections
--------------------------------------------------------------*/
@import "pages/collections";

/*--------------------------------------------------------------
## Press
--------------------------------------------------------------*/
@import "pages/press";

/*--------------------------------------------------------------
## WooCommerce
--------------------------------------------------------------*/
@import "pages/woocommerce";