#content {
	padding-bottom: 120px;
	padding-top: 90px;
	position: relative;
	background-color: $site-border-color;

	@include media($medium-screen-up) {
		min-height: 100vh;
		padding-bottom: 72px;
	}
}

.wf-loading {
	h1, h2, h3, h4, h4, p, a {
		opacity: 0;
	}
}

.backup {
	padding: 12px 40px;
	display: inline-block;
	border: 1px solid black;
	margin: 30px 30px 0;
	font-weight: 600;
	text-transform: uppercase;
	line-height: 1.6;
}

#primary, #main, .hentry {
	height: calc(100vh - 103px);

	@include media($medium-screen-up) {
		height: 100%;
	}

	h1, h2, h3, h4, h5, h6 {
		clear: both;
		font-size: 18px;
		font-weight: 400;
		color: #666;
		text-transform: uppercase;
	}

	h1 {
		letter-spacing: 6px;
	}
	h2 {
		letter-spacing: 3px;
	}
}

#main {
	background: white;
	position: relative;
}

.single-post {
	.menu-item-128 {
		a {
			color: #333;
			font-weight: 600;
		}
	}
}

.page, .single {

	.featureimage {
		width: 100%;
		overflow: hidden;
		margin-bottom: 25px;
		height: 300px;

		@include media($medium-screen-up) {
			width: 50%;
			height: 100%;
			border-right: 25px solid $site-border-color;
			margin-bottom: 0;
		}
	}

	.content {
		width: 100%;
		height: 100%;

		@include media($medium-screen-up) {
			width: 50%;
			height: 100%;
			border-left: 25px solid $site-border-color;
			//overflow: scroll;
		}

		.split {
			height: 50%;

			&.top {
				border-bottom: 25px solid $site-border-color;
			}

			&.bottom {
				border-top: 25px solid $site-border-color;
				background-size: cover;
				background-position: top;
			}
		}
	}

	.content, .featureimage {
		background-size: cover;
		background-position: center;
		float: left;
	}
}

/*--------------------------------------------------------------
## Home
--------------------------------------------------------------*/
@import "pages/home";

/*--------------------------------------------------------------
## About
--------------------------------------------------------------*/
@import "pages/about";

/*--------------------------------------------------------------
## About
--------------------------------------------------------------*/
@import "pages/center";
@import "pages/left";

/*--------------------------------------------------------------
## Contact
--------------------------------------------------------------*/
@import "pages/contact";

/*--------------------------------------------------------------
## Collections
--------------------------------------------------------------*/
@import "pages/collections";

/*--------------------------------------------------------------
## Retailers
--------------------------------------------------------------*/
@import "pages/retailers";

/*--------------------------------------------------------------
## Press
--------------------------------------------------------------*/
@import "pages/press";

/*--------------------------------------------------------------
## Video
--------------------------------------------------------------*/
@import "pages/video";

/*--------------------------------------------------------------
## Diary (blog)
--------------------------------------------------------------*/
@import "pages/blog";
@import "pages/diary";

/*--------------------------------------------------------------
## WooCommerce
--------------------------------------------------------------*/
@import "pages/woocommerce";