#content {
	height: 100vh;
	padding-top: 80px;
	padding-bottom: 56px;
	position: relative;
	background-color: $site-border-color;
}

#primary, #main, .hentry {
	height: 100%;

	h1, h2, h3, h4, h5, h6 {
		clear: both;
		font-size: 25px;
		font-weight: 400;
		color: #666;
		text-transform: uppercase;
	}

	h1 {
		letter-spacing: 6px;
	}
	h2 {
		letter-spacing: 3px;
	}
}

#main {
	background: white;
	position: relative;
}

.page, .single {

	.featureimage {
		width: 50%;
		border-right: 25px solid $site-border-color;
	}

	.content {
		width: 50%;
		border-left: 25px solid $site-border-color;
		overflow: scroll;

		.split {
			height: 50%;

			&.top {
				border-bottom: 25px solid $site-border-color;
			}

			&.bottom {
				border-top: 25px solid $site-border-color;
				background-size: cover;
				background-position: top;
			}
		}
	}

	.content, .featureimage {
		height: 100%;
		background-size: cover;
		background-position: center;
		float: left;
	}
}

/*--------------------------------------------------------------
## Home
--------------------------------------------------------------*/
@import "pages/home";

/*--------------------------------------------------------------
## About
--------------------------------------------------------------*/
@import "pages/about";

/*--------------------------------------------------------------
## Contact
--------------------------------------------------------------*/
@import "pages/contact";

/*--------------------------------------------------------------
## Collections
--------------------------------------------------------------*/
@import "pages/collections";

/*--------------------------------------------------------------
## Retailers
--------------------------------------------------------------*/
@import "pages/retailers";

/*--------------------------------------------------------------
## Press
--------------------------------------------------------------*/
@import "pages/press";

/*--------------------------------------------------------------
## Diary (blog)
--------------------------------------------------------------*/
@import "pages/blog";

/*--------------------------------------------------------------
## WooCommerce
--------------------------------------------------------------*/
@import "pages/woocommerce";