#masthead {
	float: left;
	width: 100%;
	padding: 20px 0;
	background: $site-border-color;

	position: fixed;
	top: 0;
	z-index: 10;

	.site-branding {
		float: left;
		width: 100%;
		text-align: center;

		@include media($medium-screen-up) {
			width: auto;
			text-align: left;
		}

		img {
			display: inline-block;
			
			@include media($medium-screen-up) {
				display: block;
			}
		}

		.custom-logo-link {
			display: block;

			.custom-logo {
				height: 40px;
				width: auto;
			}
		}
	}
}